.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $backdrop-overlay;

    opacity: 1;

    transition: opacity 500ms $main-timing-function;

  &.is-hidden {
    visibility: visible;
    opacity: 0;
    pointer-events: none;

}}