.features {
    @extend %section;

@media screen and (min-width: 1200px) {
    padding-bottom: 0;}

    &__container {
        @extend %container;
    }

    &__title {
        @extend %visually-hidden;
    }

    &__description {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 14px;
        line-height: 1.71;
    }
}

.features__list {
    @extend %list;
    margin: -15px;

@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
   
}}

.features__rectangle {
    margin-bottom: 30px;
    height: 120px;
    width: 100%;

    border-radius: 4px;
    background-color: $secondary-background-color;

    @media screen and (max-width: 479px) {
    display: flex;
    justify-content: center;
    align-items: center;}

    @media screen and (min-width: 480px) {
            padding: 25px 190px;
        }
    
    @media screen and (min-width: 768px) {
    padding: 25px 142px;
    }
    @media screen and (min-width: 1200px) {                
    padding: 25px 100px;
    }
}


.features__subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $secondary-text-color;


@media screen and (max-width: 767px) {
    text-align: center;
}
}

.features__item {
    margin: 15px;
    width: calc((100% - 2 * 15px) / 1);

@media screen and (min-width: 768px){
    width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
}}