.header {
    border-bottom: 1px solid $header-border-bootom;
    position: relative;
    overflow: hidden;

    
    &__container {

        display: flex;
        align-items: center;
        
        

        @extend %container;
    }
}