.logo {
    display: inline-block;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    color: $logo-text-color;

    transition: color 250ms $main-timing-function;

    @extend %link;

    &__accent {
        color: $accent-color;
}

&:hover,
&:focus {
    color: $accent-color;
}
}


.footer__logo {
    margin-bottom: 20px;

    color: $primary-white-color;

@media screen and (min-width: 320px) and (max-width: 1199px) {
    display: block;
    text-align: center;
}

}






