.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: block;
       
        margin-left: auto;
        padding: 12px 8px;
        background-color: transparent;
        border-color: transparent;
        border-radius: 50%;
        cursor: pointer;
       
    @media screen and (min-width: 768px) {
                display: none;
            }}

.menu-container__menu-toggle {
            position: absolute;
            display: flex;
            align-items: center;
            top: 10px;
            right: 15px;
            background-color: $primary-white-color;
            color: $secondary-text-color;
             
            transition: color 250ms $main-timing-function;
        }

.menu-toogle__close-button-icon {
    fill: currentColor;
}
        
.menu-container__menu-toggle:hover, .menu-container__menu-toggle:focus {
        color: $accent-color;
    }



