
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    padding: 48px 40px;
    background-color: $primary-white-color;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms $main-timing-function;

@media screen and (min-width:768px) {
    display: none;
}
}

.menu-container.is-open {
    transform: translateX(0);
}
