
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 30px);
    min-height: 609px;
    padding: 20px;

    background-color: $primary-background-color;

    transform: translate(-50%, -50%) scale(1);

    transition: transform 500ms $main-timing-function;


@media screen and (min-width: 480px) {
    width: 450px;
    padding: 40px;}


@media screen and (min-width: 1200px) {
        width: 528px;
        min-height: 581px;}


    .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);}
    

}
