.modal-form {
    display: flex;
    flex-direction: column;

&__action {
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;

    font-weight: 700;
    font-size: 15px;
    line-height: 1.15;
    text-align: center;

    color: $secondary-text-color;

@media screen and (min-width:480px) {
    font-size: 20px;
}
}   
}

