.menu-socials {
    @extend %list;
    display: flex;
}

.menu-socials__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}


.menu-socials__link {
    @extend %link;
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;

}

.menu-socials__link--separated::after {
    content: "";
    position:absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 22px;
    background-color: $menu-socials-pseudoelement;
}