.team {
    @extend %section;
    text-align: center;

    background-color: $secondary-background-color;

&__container {
    @extend %container;
}

&__card {
    box-shadow: $team-card-shadow;
    border-radius: 0px 0px 4px 4px;

    background-color: $primary-background-color;
}

&__image {
  @extend %image;
}

&__subtitle {
    margin-top: 0px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    color: $secondary-text-color;
}

&__description {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
}

&__soc-list {
    display: flex;
    justify-content: center;
    @extend %list;
}

&__soc-icon {
    fill: currentColor;
}
}

.team__title {
    margin-top: 0;
    font-weight: 700;
    line-height: 1.17;

    color: $secondary-text-color;

@media screen and (min-width: 480px) {
    margin-bottom: 30px;
    font-size: 28px;
}

@media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
}}

.team__list {
 @extend %list;
 
@media screen and (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
}

.team__card-body {

    @media screen and (min-width: 480px) {
            padding: 24px 122px;
        }

    @media screen and (min-width: 768px) {
            padding: 24px 74px;}

    @media screen and (min-width: 1200px) {
    padding: 30px 32px;}
}



.team__item {

@media screen and (min-width: 480px){
    width: 450px; 
}

&:not(:last-child){
    @media screen and (min-width: 480px) {
       margin-bottom: 30px; 
    }
}

@media screen and (min-width: 768px){
    width: 354px;
    margin: 15px;}

@media screen and (min-width: 1200px) {
    width: 270px;
}
 }

.team__soc-item {
    margin-right: 10px;

&:last-child {
    margin-right: 0;
}
}


.team__soc-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $clients-border-color;
    @extend %link;

    transition: color 250ms $main-timing-function, background-color 250ms $main-timing-function;


&:hover,
&:focus {
    background-color: $accent-color;
    color: $primary-white-color;
}
}



