.work-list {
    @extend %list;
    margin: -15px;

    @media screen and (min-width: 768px) {
        display: flex;
    flex-wrap: wrap;
    }
}

.work-list__item {
    margin: 15px;

    transition: box-shadow 250ms $main-timing-function;

@media screen and (min-width: 320px) {
        width: calc((100% - 2 * 15px) / 1);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
    }

 @media screen and (min-width: 1200px) {
             width: calc((100% - 6 * 15px) / 3);
         }

    &:hover {
        box-shadow: $portfolio-card-shadow;
    }
}