.work-card {
    @extend %link;

&__image {
    display: block;
}

&__wrapper {
    position: relative;

    overflow: hidden;
}

&__overlay-description {
    margin-top: 0;
    margin-bottom: 0;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    
    color: $primary-white-color;}

&__content {
    padding: 20px 24px;
    
    border: 1px solid $card-border-color;

}


&__title {
    margin-top: 0;
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: $secondary-text-color;

}

&__description {
    margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.88;
        color: $primary-text-color;
}

}

.work-card__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 63px 24px;

    background-color: $work-card-overlay-background;

    transform: translateY(100%);

    transition: transform 250ms $main-timing-function;

    .work-card:hover & {
    transform: translateY(0);
}
}

