.work-list {
    @extend %list;

    display: flex;
    flex-wrap: wrap;
}

.work-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms $main-timing-function;

    &:nth-child(3n) {
        margin-right: 0;

    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;

    }

    &:hover {
        box-shadow: $portfolio-card-shadow;
    }
}