$primary-background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$footer-background-color: #2F303A;
$work-card-overlay-background: rgba(33, 150, 243, 0.9);
$hero-gradient: rgba(47, 48, 58, 0.4);
$proposition-wrapper-background-color: rgba(47, 48, 58, 0.8);
$backdrop-overlay: rgba(0, 0, 0, 0.2);
$join-soc-link: rgba(255, 255, 255, 0.1);

$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196F3;
$logo-text-color: #000000;
$primary-white-color: #FFFFFF;
$secondary-white-color: rgba(255, 255, 255, 0.6);
$placeholder-comment: rgba(117, 117, 117, 0.5);

$header-border-bootom: #ECECEC;
$clients-border-color: #AFB1B8;
$card-border-color: rgba(238, 238, 238, 1);
$email-input-border-color: rgba(255, 255, 255, 0.3);
$modal-form-input: rgba(33, 33, 33, 0.2);

$team-card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
$modal-send-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

$portfolio-card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
$secondary-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

$primary-button-hover-color: #188CE8;
$border-close-button-color: rgba(0, 0, 0, 0.1);

$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);